
li{
    list-style: none;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
header{
    background-color: #eeeeee;
}
.container{ 
    display: block;
    margin: 0 auto; 
    width: 1200px; 
    padding: 0 20px;
    outline: 1px solid red;
}
.main-navigation ul{
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
.flex-container{
    display: flex;
    outline: 1px solid red;
}
.main-navigation ul li:nth-child(1){
    margin-right: 200px;
    flex-basis: 160px;
}
.main-navigation ul li:nth-child(2){
    margin-right: 45px;
    flex-basis: 61px;
}
.main-navigation ul li:nth-child(3){
    margin-right: 47px;
    flex-basis: 76px;
}
.main-navigation ul li:nth-child(4){
    margin-right: 45px;
    flex-basis: 75px;
}
.main-navigation ul li:nth-child(5){
    margin-right: 245px;
    flex-basis: 86px;
}
.main-navigation ul li:nth-child(6){
    flex-basis: 115px;
}
.services{
    flex-wrap: wrap;
}
.services .item:nth-child(1),
.services .item:nth-child(2){
    margin-right: 100px;
}
.services .item h2{
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}
.services .item p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 36px;
}
.services p{
    display: block;
    width: 238px;
    height: 41px;
}
.services-button{
    width: 160px;
    height: 50px;
    /* outline: 1px solid blue; */
    padding: 0;
    margin: 0;
    border-radius: 4px;
    background-color: #fb565a;
    text-align: center;
}
.services-button .item{
    vertical-align: middle;
    line-height: 50px;
    margin: 40px;
}
.services .item:nth-child(2) .services-button{
    width: 160px;
    height: 50px;
    /* outline: 1px solid blue; */
    padding: 0;
    margin: 0;
    border-radius: 4px;
    background-color: #00ca74;
    text-align: center;
}
.services .item:nth-child(3) .services-button{
    width: 160px;
    height: 50px;
    /* outline: 1px solid blue; */
    padding: 0;
    margin: 0;
    border-radius: 4px;
    background-color: #efc84a;
    text-align: center;
}
.who-we-are .item{
    width: 660px;
}
.who-we-are .item h2,
.who-we-are .item p,
.who-we-are .item ul{
    display: block;
}
.who-we-are .item h2{
    font-size: 45px;
    line-height: 45px;
}
