
li{
    list-style: none;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
header{
    background-color: #eeeeee;
}
.container{ 
    display: block;
    margin: 0 auto; 
    width: 1200px; 
    padding: 0 20px;
    /* outline: 1px solid red; */
}
.main-navigation ul{
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
.flex-container{
    display: flex;
    /* outline: 1px solid red; */
}
.main-navigation ul li:nth-child(1){
    margin-right: 200px;
    flex-basis: 160px;
}
.main-navigation ul li:nth-child(2){
    margin-right: 45px;
    flex-basis: 61px;
}
.main-navigation ul li:nth-child(3){
    margin-right: 47px;
    flex-basis: 76px;
}
.main-navigation ul li:nth-child(4){
    margin-right: 45px;
    flex-basis: 75px;
}
.main-navigation ul li:nth-child(5){
    margin-right: 245px;
    flex-basis: 86px;
}
.main-navigation ul li:nth-child(6){
    flex-basis: 115px;
    margin-top: 13px;
}




/* ------------------------------ СЛАЙДЕР ------------------------------ */
.slider-list .item{
    background-image: url(../img/slide-1.png);
    background-repeat: no-repeat;
    background-position: 397px -4px;
    height: 430px;
}
.slider-list .item h2{
    width: 389px;
    font-size: 55px;
    line-height: 55px;
    margin: 0;
    position: relative;
    top: 79px;
    left: -3px;
    font-weight: 800;
    letter-spacing: 0.5px
}
.slider-list .item p{
    width: 360px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    position: relative;
    top: 100px;
}
.slider-list .item:nth-child(1) .slider-button{
    display: block;
    position: relative;
    top: 139px;
    width: 240px;
    height: 50px;
    margin: 0;
    background-color: #fb565a;
    border-radius: 3px;
}
.slider-list .item:nth-child(1) .slider-button .text{
    display: block;
    position: relative;
    left: 54px;
    top: 18px;
    width: 134px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
}




/* ------------------------------ УСЛУГИ ------------------------------ */
.what-we-do{
    margin-top: 76px;
}
.services{
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.services .item:nth-child(1),
.services .item:nth-child(2){
    margin-right: 100px;
}
.services .item h2{
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}
.services .item p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 36px;
}
.services p{
    display: block;
    width: 238px;
    height: 41px;
}
.services-button{
    width: 160px;
    height: 50px;
    /* outline: 1px solid blue; */
    padding: 0;
    margin: 0;
    border-radius: 4px;
    background-color: #fb565a;
    text-align: center;
}
.item .services-button{
    color: white;
}
.services-button .text{
    vertical-align: middle;
    line-height: 50px;
    margin: 40px;
}
.services-button:hover{
    background-color: #e74246;
}
.item .services-button:active{
    background-color: #d7373b;
}
.item .services-button:active> .text{
    opacity: 0.3;
}
.services .item:nth-child(2) .services-button{
    width: 160px;
    height: 50px;
    /* outline: 1px solid blue; */
    padding: 0;
    margin: 0;
    border-radius: 4px;
    background-color: #00ca74;
    text-align: center;
}
.services .item:nth-child(2) .services-button:hover{
    background-color: #00bc6c;
}
.services .item:nth-child(2) .services-button:active{
    background-color: #00aa62;
}
.services .item:nth-child(3) .services-button{
    width: 160px;
    height: 50px;
    /* outline: 1px solid blue; */
    padding: 0;
    margin: 0;
    border-radius: 4px;
    background-color: #efc84a;
    text-align: center;
}
.services .item:nth-child(3) .services-button:hover{
    background-color: #eab534;
}
.services .item:nth-child(3) .services-button:active{
    background-color: #e5a722;
}
.line{
    display: block;
    height: 2px;
    margin-bottom: 40px;
}
.line .item{
    display: block;
    height: 2px;
    margin-right: 40px;
    background-color: #eeeeee;
}
.who-we-are{
    justify-content: space-between;
}
.who-we-are .item{
    width: 660px;
}
.who-we-are .item:nth-child(1){
    flex-basis: 650px;
}
.who-we-are .item:nth-child(2){
    flex-basis: 400px;
}
.who-we-are .item h2,
.who-we-are .item p,
.who-we-are .item ul{
    display: block;
}
.who-we-are .item h2{
    font-size: 45px;
    line-height: 45px;
}
.who-we-are .item p,
.who-we-are .item ul{
    font-size: 16px;
    line-height: 24px;
}
.who-we-are .item ul li::before{
    display: block;
    position: relative;
    top: 12px;
    left: -39px;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}
.who-we-are .item:nth-child(1) ul{
    margin-top: 24px;
}
.th3{
    display: block;
    position: relative;
    top: -106px;
    left: 225px;
}
.tr1{
    height: 63px;
    display: block;
}
.td4{
    display: block;
    position: relative;
    left: 11px;
}
.td6{
    display: block;
    position: relative;
    left: -3px;
}
.item .table{
    margin-top: 41px;
    margin-left: -13px;
}
.who-we-are .line{
    position: relative;
    top: 45px;
}
